<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'todo/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'todo/content.css' %}">
        <link rel="icon" href="{% static 'todo/check.png' %}">
        <title>TodoWoo</title>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class="logotitle">
                    <img src="{% static 'todo/check.png' %}" width="50" class="logo">
                    <a href="/"><span class="sitetitle">TodoWoo</span></a>
                </div>
                <div>
                    <ul class="navitems">
                        {% if user.is_authenticated %}
                        <li><a class="navlink" href="{% url 'currentodo' %}">Current</a></li>
                        <li><a class="navlink" href="{% url 'createtodo' %}">Create</a></li>
                        <li><a class="navlink" href="{% url 'completedtodos' %}">Completed</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="user">
                    {% if user.is_authenticated %}
                    <span>logged in as {{ user.username }}</span>
                    <form action="{% url 'logoutuser' %}" method="POST">{% csrf_token %}
                        <input class="user_buttun" type="submit" value="Logout">
                    </form>
                    {% else %}
                    <a class="user_buttun" href="{% url 'signupuser' %}">SignUp</a>
                    <a class="user_buttun" href="{% url 'loginuser' %}">Log in</a>
                    {% endif %}
                </div>
            </nav>
        </header>
        {% block content %}{% endblock content %}
    </body>
</html>