{% extends 'todo/base.html' %}
{% block content %}
<div class="container">
    {% if todos %}
    <h2>Completed Todos</h2>
    <ul>
        {% for todo in todos %}
        <li class="completedtodo">
            <span class="todo-title">{{ todo.title }}</span> <br>
            <span class="date-added">added:&nbsp;&nbsp;<em>{{ todo.date_created }}</em></span>
            <span class="date-completed">completed:&nbsp;&nbsp;<em>{{ todo.date_completed }}</em></span>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="empty-todos">
        <p>
            No todos completed yet
        </p>
    </div>
    {% endif %}
</div>
{% endblock content %}