{% extends 'todo/base.html' %}
{% block content %}
<h2>Current Todos</h2>
<div class="container">
    {% if isempty %}
    <div class="empty-todos">
        <p>
            Yahoo.. no todos due for now<br>
            <a href="{% url 'createtodo' %}">Click</a>&nbsp;to create new
        </p>
    </div>
    {% else %}
    <ul>
        {% for todo in todos %}
        {% if todo.important %}
        <a href="{% url 'viewtodo' todo.pk %}"><li class="important">
            <span class="todo-title">{{ todo.title }}</span><br>
                <span class="date-created">{{ todo.date_created }}</span>
        </li>
        </a>
        {% else %}
        <a href="{% url 'viewtodo' todo.pk %}"><li class="normal">
            <span class="todo-title">{{ todo.title }}</span><br>
                <span class="date-created">{{ todo.date_created }}</span>
        </li>
        </a>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock content %}