div.container {
    color: #00ced1;
    margin-top: 0.5em;
    align-items: center;
    min-height: 30em;
    position: relative;
}

div.container ul {
    margin: 0 10% 3em;
}

div.container ul li {
    text-align: left;
    list-style: none;
    padding: 0.5em 2em;
    margin: 0px 0 1em;
    border-radius: 0.3em;
    color: wheat;

}

div.container ul li:hover {
    box-shadow: 2px 2px 15px aquamarine;
}
div.container ul li.normal {
    border-left: 0.2em solid rgb(7, 241, 222);
    background-color: rgb(9, 145, 134);
}

div.container ul li.important {
    border-left: 0.2em solid rgb(255, 14, 94);
    background-color: rgb(190, 27, 81);
}

div.container ul li.important:hover {
    box-shadow: 2px 2px 15px rgb(255, 127, 187);
}

div.intro {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 7em 25%;
}

div.intro div {
    grid-column: 2/4;
}

.intro-info, .empty-todos {
    background-color: rgb(22, 141, 135);
    padding: 1em 3em;
    width: 50%;
    margin: 10em 25% 0;
    text-align: center;
    color: rgb(0, 247, 255);
    border-radius: 15px;
}

.intro-info a {
    text-decoration: underline;
}

.intro-item-2 {
    font-size: 2em;
}

.intro-item-3 {
    font-size: 1em;
    color: aquamarine;
}

span.todo-title {
    font-size: 1.2em;
}

span.date-created {
    font-size: 0.8em;
    color:rgb(252, 234, 201);
}

.userform {
    margin-top: 20px;
}
input[name="title"], textarea {
    min-width: 90%;
    max-width: 90%;
    color: rgb(193, 255, 252);
    border: 0;
    border-radius: 4px;
    margin: 0.3em 5% 1em;
    background-color: rgb(151, 151, 151);
    min-height: 30px;
    padding: 0.3em 0.5em;
}

textarea {
    height: 15em;
}

input[type="checkbox"] {
    display: inline-block;
    margin: 1em 0.5em 0;
}

label {
    max-width: 12%;
    display: inline-block;
    margin-left: 5%;
    color: rgb(179, 245, 207);
    padding: 0.1em 1em;
    border-radius: 1em;
    background-color: rgba(0, 255, 255, 0.2);
    border-left: 0.2em solid lime;
}


form .savebutton {
    display: inline-block;
    box-sizing: border-box;
    border: 0px;
    min-width: 10%;
    margin: 1em 45%;
    padding: 0.5em 1em;
    background-color: rgb(0, 165, 165);
    color: rgb(179, 255, 255);
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

form .savebutton:hover {
    background-color: rgb(104, 247, 247);
    color: rgb(3, 119, 119);
}

h2 {
    box-sizing: border-box;
    text-align: center;
    color: rgb(66, 255, 255);
    background-color: rgba(127, 255, 212, 0.2);
    font-size: 1.5em;
    font-weight: 400;
    padding: 0.5em 0 0.5em;
    width: 20%;
    margin: 1em 40% 2em;
    border-left: 0.3em solid aquamarine;
    border-right: 0.3em solid aquamarine;
    border-radius: 0.5em ;
}

h2.title {
    min-width: 8em;
    width: 18%;
    color: rgb(18, 234, 250);
    font-size: 1.4em;
    font-weight: 100;
    text-align: left;
    margin: 0.5em 0 0.5em 15%;
    padding: 0.5em 1em;
    border-left: 0.5em solid rgb(0, 162, 255);
    border-right: 0.5em solid rgb(0, 162, 255);;
    background-color: rgba(45, 136, 255, 0.4);
    border-radius: 10px;
}

h3 {
    text-align: center;
    color: rgb(13, 212, 206);
    font-size: 1.7em;
    font-weight: 100;
    margin: 1em 0 1em;
}

.sidebutton {
    display: inline;
    box-sizing: border-box;
    border: 0px;
    width: 10%;
    margin: 1em 5%;
    padding: 0.5em 1em;
    background-color: rgb(0, 165, 165);
    color: rgb(179, 255, 255);
    border-radius: 15px;
    transition: 0.5s;
    float: left;
    cursor: pointer;
}

.completebutton {
    width: 15%;
    margin: 0.5em 1em 1em 5%;
    color: rgb(0, 255, 179);
    background-color: rgb(0, 150, 150);
}

.completebutton:hover {
    background-color: rgb(0, 255, 179);
    color: rgb(0, 104, 104);
}

.deletebutton {
    margin: 0.5em 0px;
    width: 7%;
    color: rgb(255, 217, 236);
    background-color: rgb(116, 33, 33);
}

.deletebutton:hover {
    background-color: rgb(206, 164, 185);
    color: rgb(90, 26, 26);
}

h2.completedtodo {
    margin-bottom: 1em;
}

li.completedtodo {
    background-color: rgba(2, 54, 151, 0.52);
    border-left: 0.3em solid rgb(23, 104, 255);
}

span.date-added {
    color: #00ffb3;
}

span.date-completed {
    margin-left: 1.5em;
    color: deeppink;
}

.empty-todos {
    margin: 2em 25% 0;
    text-align: center;
    border-left: 0.3em solid rgb(0, 231, 162);
    border-right: 0.3em solid rgb(0, 231, 162);
}

.empty-todos p {
    padding: 1em 0;
}

.create-round {
    position: fixed;
    right: 5%;
    bottom: 1em;
    font-size: 2.5em;
    justify-content: center;
    align-items: center;
}

span.todo-description {
    color: rgb(179, 255, 255);
}
